#!/bin/bash
{{if eq .chezmoi.os "darwin"}}
_files=(/Volumes/GoogleDrive-*/My\ Drive/config)
gdrive=${_files[0]}
{{else if .colab}}
gdrive=/gdrive/MyDrive/config/
{{else}}
gdrive=/tmp/gdrive-config/
{{end}}

if [ ! -e "$gdrive" ] ; then
    echo "Unable to find gdrive: $gdrive"
    exit 1;
else
    echo "Found gdrive in $gdrive"
fi

echo
read P
gpg --pinentry-mode=loopback --passphrase "$P" --import "$gdrive/key.gpg"

