[git]
    autoCommit = true
    autoPush = true

{{$colab := env "COLAB_GPU" |not|not  -}}
{{$codespaces := env "CODESPACES" | not | not -}}
{{$wsl := (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}

{{$gdrive := "/tmp/gdrive/config/"}}
{{if eq .chezmoi.os "darwin"}}
{{$gdrive = output "bash" "-c" "echo -n /Volumes/GoogleDrive-*/My\\ Drive/config"  }}
{{else if $colab}}
{{$gdrive = "/gdrive/MyDrive/config/" }}
{{end}}

{{$conda := glob  "{./.local/share/miniconda,/usr/local/mambaforge,/opt/homebrew/Caskroom/mambaforge/base,./opt/mambaforge,./miniconda3}" | first| replace "./" "$HOME/"}}

[data]
    colab = {{$colab}}
    codespaces = {{$codespaces}}
    container = {{or $colab  $codespaces}}
    wsl = {{$wsl}}
    gdrive = "{{$gdrive}}"
    conda_home = "{{$conda}}"
