Include ~/.ssh/config.d/*


Host turris
	User root
	ForwardAgent yes

Host github.com
	User git
	ForwardAgent yes
	IdentityFile ~/.ssh/github_sk_rk.pub
	IdentitiesOnly yes

Host *
	ServerAliveInterval 30
	ControlMaster auto
	ControlPath ~/.ssh/sockets/%r@%h-%p
	ControlPersist 300
