Include ~/.ssh/config.d/*


Host my
	IdentityAgent	$SSH_AUTH_SOCK
Host turris
	User root
	ForwardAgent yes	
	IdentityAgent	$SSH_AUTH_SOCK

Host *
	ServerAliveInterval 30
	IdentityAgent $SSH_AUTH_SOCK
