Include ~/.ssh/config.d/*


Host turris
	User root
	ForwardAgent yes

Host *
	ServerAliveInterval 30
	IdentityFile ~/.ssh/id_ecdsa_sk
	IdentitiesOnly yes
	ControlMaster auto
	ControlPath ~/.ssh/sockets/%r@%h-%p
	ControlPersist 300
