#!/bin/sh
export PATH="$HOME/.local/bin":$PATH
export CONDA_HOME="{{.conda_home}}"

{{if eq .chezmoi.os "darwin"}}
OP_BIOMETRIC_UNLOCK_ENABLED=true
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{output "op" "read" "op://_scripts/jb-aws.conf/env"}}

export GITHUB_TOKEN="op://_scripts/github-token/password" 
{{end}}

source ~/.gnupg/init.sh

if [[ -d $HOME/.local/share/gopass/stores/root ]] && gopass test >/dev/null 2>&1 ; then
    export JARVIS_TOKEN=$(gopass jarvislabs/token)
    export JARVIS_USER_ID=$(giiopass jarvislabs/user_id)
fi