#!/bin/sh
export PATH="$HOME/.local/bin":$PATH
export CONDA_HOME="{{.conda_home}}"
export HOST_SHORT="{{.chezmoi.hostname}}"

{{if eq .chezmoi.os "darwin"}}
export HOST_SHORT=""

OP_BIOMETRIC_UNLOCK_ENABLED=true
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{onepasswordRead "op://_scripts/jb-aws.conf/env"}}

export JARVIS_TOKEN={{onepasswordRead "op://_scripts/JarvisLabsAPI/password" }}
export JARVIS_USER_ID={{onepasswordRead "op://_scripts/JarvisLabsAPI/username" }}
{{end}}

{{if eq .chezmoi.os "linux"}}
if [[ -d $HOME/.local/share/gopass/stores/root ]] && gopass test >/dev/null 2>&1 ; then
    export JARVIS_TOKEN=$(gopass jarvislabs/token)
    export JARVIS_USER_ID=$(gopass jarvislabs/user_id)
fi
{{end}}

source ~/.gnupg/init.sh