#!/bin/sh
export PATH="$HOME/.local/bin":$PATH

{{if eq .chezmoi.os "darwin"}}
OP_BIOMETRIC_UNLOCK_ENABLED=true
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{end}}

source ~/.gnupg/init.sh