


Host galatea.unlock
    HostKeyAlias  galatea.unlokc
    IdentitiesOnly yes
    Hostname 192.168.1.29
    User root

Host galatea
    User 	pczapla   
    Hostname 192.168.1.29
    Compression no
    ForwardAgent yes
    IdentitiesOnly yes
    XAuthLocation /opt/X11/bin/xauth

Host hoya
    Hostname 100.112.9.92
    ForwardAgent yes
    User root
    IdentityAgent	$SSH_AUTH_SOCK

