


Host galatea.unlock
    HostKeyAlias  galatea.unlokc
    IdentitiesOnly yes
    Hostname 192.168.1.29
    User root

Host galatea
    User 	pczapla   
    Hostname 192.168.1.29
    Compression no
    ForwardAgent yes
    IdentitiesOnly yes
    XAuthLocation /opt/X11/bin/xauth

Host hoya
    Hostname 100.112.9.92
    ForwardAgent yes
    User root
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
    IdentityFile ~/.ssh/id_ecdsa_sk.pub
