#!/bin/sh
export PATH="$HOME/.local/bin":$PATH
export CONDA_HOME="{{.conda_home}}"
export HOST_SHORT="{{.chezmoi.hostname}}"

{{if eq .chezmoi.os "darwin"}}
export HOST_SHORT=""

OP_BIOMETRIC_UNLOCK_ENABLED=true

{{onepasswordRead "op://_scripts/macos/env"}}
export JARVIS_TOKEN={{onepasswordRead "op://_scripts/JarvisLabsAPI/password" }}
export JARVIS_USER_ID={{onepasswordRead "op://_scripts/JarvisLabsAPI/username" }}
{{end}}

{{if eq .chezmoi.os "linux"}}
if [[ -d $HOME/.local/share/gopass/stores/root ]] && gopass test >/dev/null 2>&1 ; then
    export JARVIS_TOKEN=$(gopass jarvislabs/token)
    export JARVIS_USER_ID=$(gopass jarvislabs/user_id)
fi
{{end}}

{{if .wsl }}
export LD_LIBRARY_PATH=/usr/lib/wsl/lib:$LD_LIBRARY_PATH
{{end}}

export PATH="/opt/homebrew/bin:$PATH"